apiVersion: v1
kind: Namespace
metadata:
  name: production
  labels:
    name: production
    monitoring: enabled

---
apiVersion: v1
kind: Namespace
metadata:
  name: monitoring
  labels:
    name: monitoring
